<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>旅游日记</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/reset.css">
    <link rel="stylesheet" href="__CSS__/fullpage.css"/>
    <link rel="stylesheet" href="__CSS__/index.css"/>
</head>
<body>
    {include file="common/header" /}
    <div id="fullpage">
        <div class="section section1">
            <h1>记录旅行的时光</h1>
            <p>我们喜欢旅行，于是去了很多个城市。在每一座城市里，留下一些故事，等着恰好经过的人慢慢的揣测。离开一
                座城市去往另一个地方，留下的人继续品尝有关你的孤独或快乐。一张崭新的火车票，带你去下一个城市。在沿途，可以看看风景。那些曼妙的风景，有些稍纵即逝，很快从记忆里抽离；有些亘古绵长，在很久以后依然可以带着微笑回忆。</p>
        </div>
        <div class="section section2">
            <p>世界以痛吻我<br/>，<br/>要我报之歌</p>
        </div>
        <div class="section section3">
            <p>不必太纠结于当下，也不必太忧虑未来，当你经历过一些事情的时候，眼前的风景已经和从前不一样了。曾经以为念念不忘的事情，就在我们念念不忘的过程，被我们遗忘了。。。</p>
        </div>
        <div class="section section4">
            <p>　　人生是一段旅程，在旅行中遇到的每一个人，每一件事与每一个美丽景色，都有可能成为一生中难忘的风景。我们要珍惜生命中的每一天，不好等秋天过了感叹春天里的绿色，在冬天的时候渴望夏的温暖。在人生的道路上，不好为了匆忙得赶路而忽视了沿途的风景。</p>
            <i>&copy; 2019 by Wihau She.</i>
            <a href="javascript:;" id="backTotop">回到顶部↑</a>
        </div>
    </div>

<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/fullpage.js"></script>
<script type="text/javascript" src="__JS__/easings.min.js"></script>
<script type="text/javascript" src="__JS__/scrolloverflow.js"></script>
<script type="text/javascript" src="__JS__/move.js"></script>
<script type="text/javascript" src="__JS__/index.js"></script>

</body>
</html>